* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    background-color: #3E3E3E;
    padding: 0px 75px;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
   
    font-size: 1.5rem;
  }
  nav ul li{
      list-style: none;
      margin: 0 23px;
      font-size: 1.1rem;
      letter-spacing: 1.1px;
  }
  nav ul li a{
     text-decoration: none;
     color: white; 
  }

  .left {
      font-size: 2.5rem;
  }
.firstSection {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
}
.firstSection >div {
 width: 30%;
}
.leftSection{

  font-size: 2.3rem;
  letter-spacing: 2px;
  
 
  
}
.rightSection img{
  width: 125%;
  height: 106%;
  

}
.leftSection2 img{
  width: 60%;
  

}
.rightSection2{
  width: 35%;
  height: 92%;
  font-size: 1.5rem;
  text-align: center;
}
.purple{
color: rgb(128, 79, 128);
}
#element{
  color:rgb(128, 79, 128);
}
.projectHeader{
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}
.projects{
  height: 70vh  ;
  width: auto;
}

.btn {
  font-size:15px;
  font-family: 'Nanum Gothic Coding', monospace;
  width:140px;
  height:40px;
  border-width:0px;
  color:rgba(252, 252, 252, 1);
  border-color:rgba(77, 47, 77, 1);
  border-top-left-radius:29px;
  border-top-right-radius:29px;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:29px;
  text-shadow: 1px 1px 0px #2f6627;
  background:rgba(128, 79, 128, 1);
}

.btn:hover {
  background: rgba(178, 109, 178, 1)
}
.buttonDiv{
  
  padding-top: 20px;
}



/*  Hamburger Menu styles */
.burger{
  display: none;
}
     
.line{
  width: 35px;
  background-color: white;
  height: 3px;
  margin: 6px 5px;
} 
nav ul li a {
  color: #fff;
 
  text-decoration: none;
  
  
  display: inline-block;
  padding: 15px 0px;
  position: relative;
}
nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}


.secondSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3E3E3E;
  height: 80vh;

}


     /* ---------------------------- */   



