* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    background-color: #3E3E3E;
    padding: 0px 75px;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
   
    font-size: 1.5rem;
  }
  nav ul li{
      list-style: none;
      margin: 0 23px;
      font-size: 1.1rem;
      letter-spacing: 1.1px;
  }
  nav ul li a{
     text-decoration: none;
     color: white; 
  }

  .left {
      font-size: 2.5rem;
  }
.firstSection {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
}
.firstSection >div {
 width: 30%;
}
.leftSection{

  font-size: 2.3rem;
  letter-spacing: 2px;
  
 
  
}
.rightSection img{
  width: 125%;
  height: 106%;
  

}
.aboutHeader{
  font-size: 2rem;
  height: 50px  
}

.leftSection2 img{
  width: 60%;
  

}
.rightSection2{
  width: 35%;
  height: 92%;
  font-size: 1.5rem;
  text-align: center;
}
.purple{
color: rgb(128, 79, 128);
}
#element{
  color:rgb(128, 79, 128);
}
.projectHeader{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  
  margin-top: 50px;
}
.projects{
  height: 70vh  ;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.headerProjects{
  padding: 40px 60px;
  border: 1px ;
  border-radius: 5px;
  border-color: #2f6627;
}
.projectDiscription{
  margin: 20px 0px;
}

.btn {
  font-family: 'Nanum Gothic Coding', monospace;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #b26db2;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn a:hover {
  background-color: #9B519B
}
.btn a{
  text-decoration: none;
  cursor: pointer;
}

.buttonDiv{
  
  padding-top: 20px;
}



/*  Hamburger Menu styles */
.burger{
  display: none;
}
     
.line{
  width: 35px;
  background-color: white;
  height: 3px;
  margin: 6px 5px;
} 
nav ul li a {
  color: #fff;
 
  text-decoration: none;
  
  
  display: inline-block;
  padding: 15px 0px;
  position: relative;
}
nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}


.secondSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3E3E3E;
  height: 80vh;

}
.fourthSection{
  height: 20vh;
  background-color: #3E3E3E;
}
.contactMeheader{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 35px;
}


     /* ---------------------------- */   
.project-box {
            width: 300px;
            border: 1px solid #b26db2;
            padding: 20px;
            margin: 20px;
            display: inline-block;
            vertical-align: top;
        }

        .project-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .project-description {
            color: #666;
            margin-bottom: 20px;
        }

        .view-project {
            text-align: center;
        }

       
        .view-project a:hover {
            text-decoration: none;
        }
        .projectsContainer{
          padding-top: 15px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 90vh;
        }
        footer {
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 30px 0;
      }

      .footer-header {
          font-size: 24px;
          font-weight: bold;
      }

      .footer-message {
          font-size: 16px;
          margin-top: 35px;
      }

      .contact-details {
          font-size: 14px;
          margin-top: 20px;
          text-decoration: none;
          border: #fff;
          border-radius: 2px;
      }
      .contact-details a {
        text-decoration: none;
        color: inherit;
       
    }

      .contact-buttons {
          margin-top: 30px;
      }

      .contact-buttons a {
          display: inline-block;
          margin-right: 10px;
          padding: 10px 20px;
          color: #fff;
          text-decoration: none;
          background-color: #b26db2;
          border-radius: 5px;
          transition: background-color 0.3s ease;
      }

      .contact-buttons a:hover {
          background-color: #9B519B
      }
.end{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
